<% layout("./layouts/boilerplate") %>

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%= err.message %> <%= status %></h4>
    <p><%= err.message %></p>
    <hr>
    <p class="mb-0">
        <% if (status === 404) { %>
        Could not find what you were searching for. im sowwwyyyyy
        <% } else { %>
        ERORROROROROROROROORORRO
        <% } %>
    </p>
    <hr>
    <p><%= err.stack %></p>
</div>