<% layout("./layouts/boilerplate") %>


<div class="col-6 offset-3">
    <h1 class="text-center">Leave a Review:</h1>
    <form action="/campgrounds/<%= campground.id %>/reviews" method="post" class="needs-validation" novalidate>
        <div class="my-3 row">
            <div class="d-flex flex-column ">
                <h3 class="align-self-center mt-5">How was your experience?</h3>
                <fieldset class="starability-grow align-self-center">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked
                        aria-label="No rating." />
                    <input checked type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                <div>
                    <label for="text" class="form-label mt-5">Describe your Experience:</label>
                    <textarea required type="text" name="review[text]" class="form-control text-area-height"
                        id="description" aria-describedby="descHelp"></textarea>
                    <div id="descHelp" class="form-text">Try to be as open-minded as possible</div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please write something.
                    </div>
                </div>
                <button type="submit" class="btn btn-success col-2 align-self-center">List!</button>
                <a class="align-self-center btn btn-danger col-2" href="/campgrounds">Cancel</a>

            </div>
        </div>
    </form>

</div>

<script>
    //for Bootstrap custom Client-Side validation
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })();
</script>